extends /inc/foundation/_base.pug
block append config
  - current.id = "packing-unpacking" // ページのID
  - current.title = "荷造り・荷解き代行" // タイトル
  - current.description = "これは荷造り・荷解き代行についての説明文です" // 説明文
  - current.bodyClass = "packing-unpacking" // body に付与するクラス
  - current.depth = 3 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-packing-unpacking.jpg",
    title: "荷造り・荷解き代行",
    subtitle: "サービス"
  })
  +c_breadcrumb("サービス","service")

block body
  main.l-main
    +c_floating-contact("/contact/?service=packing-unpacking")
    section.l-section.is-md
      .l-container
        +c.service-page-lead.u-mbs.is-bottom
          +c_page-lead-block({
            subtitle: `PACKING / UNPACKING`,
            title: `荷造り・荷解き<br class="u-hidden-lg"/>代行サービス`,
            text: `弊社提携引越会社をご利用のお客様向けのサービスです。<br>
            ※引越し・荷造り荷解きのご依頼先をお探しのお客様には、弊社提携引越会社をご紹介いたしますので、お気軽にお問い合わせください。`
          })
      +c.homestaging-hero
        +c_hero-block-wide([{
            switch: false,
            img01: "img-hero-packing-unpacking-01.jpg",
            img02: null,
            url: null,
            subtitle: null,
            title: `累計6,000件以上の<br/>引越し荷造り実績`,
            text: `お引越し・リフォーム・建替えは、暮らしを⾒直す絶好のチャンスです。<br>
            「ただ荷物を移動する」のではなく、今お持ちのモノとしっかり向き合い、これからの暮らしに本当に必要なものが何かを判断し、モノの⾏き先を決める作業を行うことで、理想とする快適な暮らしが手に入ります。<br>
            <br>
            当社の荷造り・荷解きは、ホームステージャーの知識をプラスした、新しい暮らしを快適に迎え て頂く為の特別なサービスです。専⾨技術を身に着けた、経験豊富なスタッフによる仕分け・梱包開梱・収納をぜひお試しください。`
        }, {
            switch: false,
            img01: "img-hero-packing-unpacking-02.jpg",
            img02: null,
            url: null,
            subtitle: null,
            title: `お客様に安心していただける<br class="u-hidden-md">スタッフの品質`,
            text: `お客様の大切なものを扱わせていただくため、当社独⾃の梱包研修を修了し、認定を受けたスタッフのみが作業を担当いたします。<br>
            また、階級制度を設けており、すべての研修をマスターした最上位のスタッフがリーダーとして現場責任者を務めます。<br>
            <br>
            満足度アンケートでは、98％のお客様から当社最⾼の基準である「感激」の評価を頂いております。`
        }])

    section.l-section.is-bg-color.is-lg
      .l-container
        +c.section-top
          +e.title
            h2.c-heading.is-md こんな方におすすめします
        +c.box-recommend
          +e.box
            +e.box-img
            +e.box-text
              p
                | 多忙で時間がない

          +e.box
            +e.box-img
            +e.box-text
              p
                | 体力的に難しい

          +e.box
            +e.box-img
            +e.box-text
              p
                | 大量の家財で一人で<br class="u-hidden-sm">
                | 梱包するのは大変

          +e.box
            +e.box-img
            +e.box-text
              p
                | 新居がせまくなるので、<br class="u-hidden-sm">物を減らしたい

          +e.box
            +e.box-img
            +e.box-text
              p
                | 新居では居心地のいい暮らしがしたい

    section.l-section.is-lg
        h2.c-heading.is-md 荷造り・荷解き代行の料金
        .l-container
          +c.plan-card
            +e.content
              +e.card
                +e.card-head
                  | 3時間 ホームステージャー2名<br>
                  span.u-text-small （ヒアリング込み）
                +e.card-content
                  +e.card-price
                    span ￥26,400～
                    small （税込、交通費込）
                  +e("p").card-text.is-lg.u-text-center
                    | ご希望の場所により作業時間や<br class="u-hidden-sm">ホームステージャーの人数は変動致します。
                  +e("p").card-text
                    | ※ 最大作業時間は6時間までとなります。<br>
                    | ※ 残業の場合は1名1時間4,400円（税込）になります。<br>
                    | ※ 特定の住所によっては、遠方料金及びその他費用の実費請求をさせていただきます。
              +e.card
                +e.card-head
                  | 6時間 ホームステージャー2名<br>
                  span.u-text-small （ヒアリング込み）
                +e.card-content
                  +e.card-price
                    span ￥52,800～
                    small （税込、交通費込）
                  +e("p").card-text.is-lg.u-text-center
                    | ご希望の場所により作業時間や<br class="u-hidden-sm">ホームステージャーの人数は変動致します。
                  +e("p").card-text
                    | ※ 最大作業時間は6時間までとなります。<br>
                    | ※ 残業の場合は1名1時間4,400円（税込）になります。<br>
                    | ※ 特定の住所によっては、遠方料金及びその他費用の実費請求をさせていただきます。
          +c.box-caption
            +e.inner
              +e.title ＜梱包できない物もございます＞
              +e.list
                +e.item 電化製品・照明器具
                +e.item 現金・有価証券・小切手・通帳・印鑑・キャッシュカード・貴重品・骨董品・美術品
                +e.item 危険物（灯油・ガソリン・油）
                p その他スタッフが梱包できないと判断した物も梱包できません。また３０万を超える物には別途保険をお掛け下さい。
    section.l-section.is-bg-color.is-lg
      .l-container
        +c.section-top
          +e.title
            h2.c-heading.is-md サービスエリア
        +c.block-area-map
          +e.map-img
            +img("img-block-area-map.png")
          +e.map-text
            ul.c-list.is-disc
              li 首都圏
              li 関西エリア
                span.u-text-small (大阪府、京都府、兵庫県、奈良県、滋賀県の都市部)
              li 東海エリア
                span.u-text-small (愛知県、三重県、岐阜県の都市部)
              li 福岡市
            p
              span.u-text-small ※上記以外のエリアもご相談下さい。
    section.l-section.is-lg
      +c.box-voice
        .l-container
          +e.title
            h2.c-heading.is-md お客様の声
          +e.list.owl-carousel.js-box-voice-slider
            +loop(6)
              +e.item
                +e.item-inner
                  +e.item-head
                    +e.item-icon: +img("icon-box-voice-vacant-01.png")
                    +e.item-name Ｆ様（不動産会社）
                  +e.item-text インテリアを設置し内覧すると、お客様の物件に対する滞留時間が長くなりました。その分色々な物件メリットを説明することが出来ました。契約も設置していただいた、ダイニングテーブルで行いました。お客様が買った物件の中で契約が出来るなんて本当にホームステージングは素敵な提案だと思います。
              +e.item
                +e.item-inner
                  +e.item-head
                    +e.item-icon: +img("icon-box-voice-vacant-02.png")
                    +e.item-name Ｆ様（不動産会社）
                  +e.item-text インテリアを設置し内覧すると、お客様の物件に対する滞留時間が長くなりました。その分色々な物件メリットを説明することが出来ました。契約も設置していただいた、ダイニングテーブルで行いました。お客様が買った物件の中で契約が出来るなんて本当にホームステージングは素敵な提案だと思います。

    section.l-section
      +c_service-relation
  +l_offer

