extends /inc/foundation/_base.pug
block append config
  - current.id = "recruit" // ページのID
  - current.title = "採用情報" // タイトル
  - current.description = "これは採用情報の説明文です" // 説明文
  - current.bodyClass = "recruit" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-recruit.jpg",
    title: "採用情報",
  })
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-md
      .l-container
        .c-page-lead-block
          .c-page-lead-block__title
            h2.c-heading.is-lg.is-center
              b インテリアやお片付けに<br class="u-hidden-lg"/>興味のある方、<br/>人に喜ばれる仕事
          .c-page-lead-block__text-flex
            p.c-page-lead-block__text  サマンサ・ホームステージングは、2011年に創業し、インテリアコーディネートとお片付けで不動産売買をサポートする「ホームステージング」をおもに提供している会社です。現在、首都圏・東海・関西・福岡・沖縄を中心に数多くのご依頼をいただき、事業規模が急成長しているため、一緒に働いてくださる方を大募集しています。<br/><br/>「ホームステージング」とは、物件をモデルルームのように演出することですが、ただ片付けて飾り付ければいいというわけではなく、物件の魅力を引き出すための専門的な知識と技術が必要です。海外の不動産業界では一般的なサービスのひとつであり、プロの「ホームステージャー」による「ホームステージング」を施した物件とそうでない物件では、売却までのスピードはもちろん、販売価格にも差が出るといわれています。実際に、ご依頼くださったお客様から「ホームステージングのおかげで内見の申し込みが増えた」「すぐに売却先が決まった」など、喜びのお声をいただくことも少なくありません。
            p.c-page-lead-block__text  「ホームステージャー」という職業は、知名度こそまだ低いものの、今後、中古物件の売買がさらに活発になるであろうと予想される日本においては、欠かせない存在となりつつあります。インテリアやお片付けに興味のある方、人に喜ばれる仕事がしたいという方、ぜひ私たちと一緒に「ホームステージング」を世の中に広めていきませんか？<br/><br/>「まずは話だけ聞いてみたい」という方も、ページ下部のお問い合わせフォームより、お気軽にお問い合わせください。
        .u-mbs.is-md.u-text-center
          +a("/about-us/#homestager").c-button ホームステージャーについて
    section.l-section.is-md.is-bottom
      .l-container
        +c.job-description
          +e.title
            h2.c-heading.is-lg.is-center
              small JOB DESCRIPTION
              b 募集要項
          +e.content
            .c-accordion-list
              .c-accordion-list__block.js-accordion
                .c-accordion-list__head(data-accordion-title="accordion-title") ゼネラリスト/スペシャリスト/コーポレートスタッフ
                .c-accordion-list__content(data-accordion-content="accordion--text")
                  p ※2022年新卒採用は行っておりません
                  p.u-mbs.is-sm
                    b 〈 求める人物像 〉<br/>
                    | ・当社事業に情熱をもって取り組める方。<br/>
                    | ・自分の事を優先するのではなく、同僚、取引先、お客様すべての関係者とチームワークを実践できる方。<br/>
                    | ・変化を楽しむことが出来る方、ジェンダー、世代の考えが画一的でない方。
                  table.c-table.u-mbs.is-sm.is-bottom
                    tbody
                      tr
                        th 仕事内容
                        td
                          | 〈ゼネラリスト（総合職）〉<br>
                          | 主に顧客に対して、ホームステージングが提供できる価値を伝えて認知を高め、<br>
                          | 潜在クライアントとの接点を創出することがミッションとなります。<br>
                          | 家具の仕入れ、設営、広報、営業あらゆることを手掛けます。<br>
                          |<br/>
                          | 〈スペシャリスト（専門職）〉<br/>
                          | ・デザインチーム<br>
                          | 物件に合わせたステージングプランを作成し、レンタルまたは販売する家具や小物を選定します。<br>
                          | 自ら物件に行き、ステージングを行う場合もあります。<br>
                          | 在庫の管理など物流なども担当します。<br/><br/>
                          | 〈コーポレートスタッフ〉<br/>
                          | クライアントからステージングやお片付けの依頼を受け、日程調整やスタッフの手配を行います。<br>
                          | 主に電話対応、データ入力、メール作成など。
                      tr
                        th
                          | 応募資格/<br>
                          | 必要スキル
                        td
                          | 〈全職種共通〉<br>
                          | 基本的なPCスキル（Excel、wordなど）<br>
                          | ※ホームステージャー認定資格2級以上　優遇（一般社団法人日本ホームステージング協会認定資格）<br>
                          |<br>
                          | 〈ゼネラリスト（総合職）〉<br>
                          | 経験があるなしにかかわらず、ホームステージングを広める意欲がある方。前例のないことを前向きに情熱をもって挑む方。<br>
                          |<br>
                          | 〈スペシャリスト（専門職）〉<br>
                          | デザイン<br>
                          | ・普通自動車免許（運転経験者優遇）<br>
                          | ・インテリアコーディネート（または、それに準ずる業務）の経験　2年以上<br>
                          |<br>
                          | 〈コーポレートスタッフ〉<br>
                          | ・専門的な実績がある方。例：事務経験１年以上、医療事務経験１年以上、撮影経験１年以上、編集経験１年以上等<br>
                          | ・サポートに徹することが出来る方
                      tr
                        th 勤務地
                        td 東京都江東区富岡1-12-8 アサヒビル2階、その他 1都3県の各現場
                      tr
                        th 勤務時間
                        td 9：00～18：00（休憩１時間）
                      tr
                        th 休日・休暇
                        td
                          | 完全週休2日制+祝日の数(シフト制)<br>
                          | 年末年始休暇、夏休み休暇<br>
                          | 有給(初年度：入社後６か月以降。次年度以降：７月に付与)<br>
                          | 慶弔休暇／特別休暇
                      tr
                        th 給与
                        td 220,000円～320,000円（面談の上、当社規定により決定します）
                      tr
                        th 昇給
                        td 年2回（1月・7月）
                      tr
                        th 賞与
                        td 年2回（1月・7月）
                      tr
                        th 待遇・福利厚生
                        td
                          | ◆社会保険完備<br>
                          | ◆交通費支給（会社規定に基づき支給）<br>
                          | ◆産休・育休取得制度あり<br>
                          | ◆資格取得支援、研修制度あり<br>
                          | ◆確定拠出年金<br>
                          | ◆在宅勤務手当<br>
                          | ◆誕生日休暇
                      tr
                        th その他
                        td
                          | ◆オフィスはフリーアドレス制。<br>
                          | 職種にもよりますが、完全、一部、リモートワークも取り入れています。<br>
                          | ◆内勤スタッフは服装自由（オフィスカジュアル）。ネイルもOKです。
                  p
                    | ＊の必要事項をすべてご記入の上、送信してください。<br>
                    | エントリーから1週間以内に返信がない場合は、お手数ですが <a class="is-mail" href="mailto:info@samantha-hs.com">info@samantha-hs.com</a> まで直接ご連絡ください。
              .c-accordion-list__block.js-accordion
                .c-accordion-list__head(data-accordion-title="accordion-title") ホームステージャー
                .c-accordion-list__content(data-accordion-content="accordion--text")
                  p.u-mbs.is-sm.is-bottom
                    b 〈 求める人物像 〉<br/>
                    | ・明るい挨拶ができる方<br>
                    | ・責任感があり、能動的に動くことができる方<br>
                    | ・チームワークとコミュニケーションを大切にできる方
                  table.c-table.u-mbs.is-sm.is-bottom
                    tbody
                      tr
                        th 仕事内容
                        td
                          | 販売中の物件でお片付けやインテリアの設置を行い、モデルルームのように演出するお仕事です。<br>
                          | ・プランに沿った家具や小物の設置<br>
                          | ・お部屋の整理収納<br>
                          | ・お引越しの荷物梱包・開梱 等
                      tr
                        th 応募資格
                        td
                          | ・認定資格講座　ホームステージャー2級以上　優遇（一般社団法人日本ホームステージング協会認定資格）<br>
                          | ・週2日以上（土日含む）勤務できる方<br>
                          | ◆実務未経験者OK　◆家事代行経験者 優遇　◆土日勤務可能な方 歓迎<br>
                          | ◆20～50代の女性が活躍中！　◆ダブルワークもOK
                      tr
                        th 勤務地
                        td
                          | 首都圏、関西エリアの各物件<br>
                          | おもに、お客様が居住中の物件での作業となります。<br>
                          |<br>
                          | 首都圏：東京、神奈川、埼玉、千葉<br>
                          | 関西：大阪、兵庫、京都<br>
                          | ※その他のエリアについては、現在募集を停止しています。
                      tr
                        th 給与
                        td
                          | 時給：1,100～1,800円<br>
                          |<br>
                          | 〈昇給モデル〉<br>
                          | 1～20回目：1,100円<br>
                          | 21回目以降：1,150円（＋資格手当500円）<br>
                          | さらにスキルアップした方：1,200円（＋資格手当500円＋精勤手当）<br>
                          | 現場リーダーに昇格した方：1,400円～（＋資格手当1,000円＋精勤手当）<br>
                          | 手当はさらに月所定の日数を出た方にはマッサージ手当、誕生日月に誕生日手当（諸条件有）なども付きます<br>
                          |<br>
                          | ※現場状況により作業時間は前後することがありますが、<br>
                          | お仕事が予定より早く終わった場合も、給与保証いたします。<br>
                          | ※資格手当：ホームステージャー2級資格を会社負担なしで習得した場合<br>
                          | ※精勤手当：会社が決めた出勤日数をクリアした手当
                      tr
                        th 勤務時間
                        td
                          | 1日あたり4～6時間程度（9時～19時の間）<br>
                          |<br>
                          | ◆勤務時間例<br>
                          | 9：00～13：00<br>
                          | 9：00～16：00（休憩1時間）<br>
                          | 10：00～17：00（休憩1時間）
                      tr
                        th 待遇・福利厚生
                        td
                          | 交通費全額支給、エプロン貸与、ホームステージャー資格手当、<br>
                          | 残業手当、遠方手当、賞与（毎月の精勤手当に充当）
                      tr
                        th 研修
                        td
                          | 日本橋にあるショールームにて、当社トレーニングセンターによる研修を受けていただきます。<br>
                          | 場合によりZOOMなどを利用したビデオ研修もあります。
                      tr
                        th 活躍中の先輩スタッフの声
                        td
                          | ◆片付け上手になりました！<br>
                          | ◆勤務日の融通が利くので、働きやすいです！<br>
                          | ◆ダブルワークで土日のみ、空いた時間に勤務しています！<br>
                          | ◆お客様に感動されて、感謝される仕事はそんなに無いです！

    section.l-section.is-lg.is-bg-color
      .l-container
        +c.form-head
          +e.block
            +h2.title お問い合わせ
            +e.list
              +e.item.is-current
                +e.item-number 1
                +e.item-text お客様情報入力
              +e.item
                +e.item-number 2
                +e.item-text 入力内容の確認
              +e.item
                +e.item-number 3
                +e.item-text 送信完了
        <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
        +c.forms
          .row
            .large-10.is-push-lg-1.small-12
              +e.text 下記のフォームに必須項目を入力して<br class="u-visible-sm">送信してください。
              +e.blocks
                +e.block
                  +e.title
                    | 募集種別
                    span.c-forms__label 必須
                  +e.content
                    +e.input.is-md
                      select(name="募集種別")
                        option(disabled,selected) 種別を選択してください
                        option(value="ゼネラリスト/スペシャリスト/コーポレートスタッフ") ゼネラリスト/スペシャリスト/コーポレートスタッフ
                        option(value="ホームステージャー") ホームステージャー
                +e.block
                  +e.title
                    | お名前
                    span.c-forms__label 必須
                  +e.content
                    +e.input: input(type="text",name="お名前",placeholder="山田　太郎")
                +e.block
                  +e.title
                    | お名前フリガナ
                    span.c-forms__label 必須
                  +e.content
                    +e.input: input(type="text",name="お名前フリガナ",placeholder="ヤマダ　タロウ")
                +e.block
                  +e.title
                    | TEL
                  +e.content
                    +e.input: input(type="text",name="TEL",placeholder="（例）000-0000-0000")
                +e.block
                  +e.title
                    | メールアドレス
                    span.c-forms__label 必須
                  +e.content
                    +e.input: input(type="text",name="メールアドレス",placeholder="（例）info@mail.jp")
                +e.block
                  +e.title.is-vertical-top
                    | 性別
                    span.c-forms__label 必須
                  +e.content
                    +e.radio
                      span
                        label
                          input(type="radio",name="性別",value="男性")
                          span 男性
                      span
                        label
                          input(type="radio",name="性別",value="女性")
                          span 女性
                +e.block
                  +e.title
                    | 年齢
                    span.c-forms__label 必須
                  +e.content
                    +e.input.is-md
                      select(name="年齢")
                        option(disabled,selected) ご年齢を選択してください
                        option(value="10代") 10代
                        option(value="20代") 20代
                        option(value="30代") 30代
                        option(value="40代") 40代
                        option(value="50代") 50代
                        option(value="60代") 60代
                +e.block
                  +e.title.is-vertical-top 履歴書（PDF）
                  +e.content
                    +e.checkbox.is-vertical
                      span
                        label
                          input(type="file",name="履歴書",value="履歴書")
                +e.block
                  +e.title.is-vertical-top 職務経歴書（PDF）
                  +e.content
                    +e.checkbox.is-vertical
                      span
                        label
                          input(type="file",name="職務経歴書",value="職務経歴書")
                +e.block
                  +e.title.is-vertical-top フリーメッセージ
                  +e.content
                    +e.textarea
                      textarea(name="テキストエリア",placeholder="お問い合わせ内容をご記入ください。")

              +e.privacy
                label
                  input(type="checkbox",name="「個人情報保護の取り扱いに関するご確認」を確認する",value="確認しました")
                  | 当社の
                  +a("/privacy-policy/")(target="_blank") 個人情報保護方針
                  | へ同意する
              +e.submit
                button.c-button.is-sm 確認画面へ
                //button.c-button.is-sm.c-forms__submit__back.is-lg.is-secondary.is-arrow-left 戻る
                //button.c-button.is-sm.c-forms__submit__submit.is-lg 送信する
