extends /inc/foundation/_base.pug
block append config
  - current.id = "privacy-policy" // ページのID
  - current.title = "個人情報の取り扱いについて" // タイトル
  - current.description = "これは個人情報の取り扱いについてについての説明文です" // 説明文
  - current.bodyClass = "privacy-policy" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header({
    image: "img-page-header-privacy-policy.jpg",
    title: "個人情報の取り扱いについて",
  })
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        .u-mbs.is-md.is-bottom
          .u-mbs.is-xs.is-bottom
            h2.c-heading.is-sm 基本方針
          p 株式会社サマンサ・ホームステージング(以下「弊社」といいます)では、個人情報を適切に利用すると共にその安全管理に努めております。弊社は業務上知り得た個人情報の内容をみだりに第三者に開示し、また不当な目的に使用したりしません。利用目的の達成に必要な範囲内で、具体的な業務したがって権限を与えられた者のみが取扱い、業務の遂行上必要な限りにおいて取り扱うものとします。
        .u-mbs.is-sm
          .u-mbs.is-xs
            h2.c-heading.is-sm 個人情報の適正な取得について
          p 弊社は、利用目的の達成に必要な個人情報を、お客様の同意に基づき、適正かつ適法な手段により取得します。
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm 個人情報の利用目的について
          p 弊社では、個人情報の利用目的を下記の通り特定し、法で定める場合を除き、その利用目的の達成に必要な範囲内で個人情報を利用します。
          ol.c-list.is-outline
            li お客様ご本人の確認や特定を行う為
            li 弊社、又は関連団体・組織が実施するサービス、イベント等をお電話、郵便にてご案内する為
            li 弊社サービスについてお電話、郵便、宅配便にてご提供、ご案内する為
            li ホームページにて、ご本人様の同意に基づき、お客様の写真、記事等を掲載する為
            li お客様にご提供するサービスを調査する為
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm 個人情報の管理について
          p 弊社は、個人情報を安全に管理するため、当個人情報保護方針を徹底させ、不正アクセス、紛失、漏洩、改ざん、破壊などを予防する適切な安全管理措置を行い、定期的な見直しにより維持、改善に努めます。
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm 個人情報の第三者提供について
          p 弊社は、利用目的の達成に必要な範囲内で、下記の通り個人情報を第三者に提供する場合があります。
          ol.c-list.is-outline
            li あらかじめお客様ご本人に同意を得ている場合
            li お客様にご依頼を頂きました業務を遂行する為に必要な場合
            li 法令等により必要とされる場合
            li 人の生命、身体又は財産の保護のために必要がある場合で、本人の同意を得ることが困難である場合
            li 合併、分社化、営業譲渡等により、事業の一部または全部が引き継がれる場合
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm (開示、変更、削除等の求め) への対応について
          p 弊社は、法に定める「開示等の求め」に対して、適切な対応をします。個人情報の開示、変更、削除をお求めの場合は、下記「お問合せ先」までご連絡ください。
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm (プライバシーポリシー) 等の変更について
          p 当サイトは、クッキーを使用することがあります。弊社は、主として下記の目的でクッキーを利用します。
        .u-mbs.is-md
          .u-mbs.is-xs
            h2.c-heading.is-sm 個人情報に関するお問合せ先
          p TEL ：03-6810-5585　担当：増本

  +l_offer

