//- オファー
mixin l_offer
  .l-offer
    .l-container
      .l-offer__inner
        h2.l-offer__title.is-bottom
          b CONTACT
          small お気軽にお問い合わせください
        .l-offer__text ホームステージング・物件撮影・お片付け・お引越し時のお荷物の整理・梱包・収納等、<br class="u-hidden-sm">サービスに関するお問い合わせは、お電話または専用フォームより受け付けております。
        .l-offer__items
          .l-offer__box
            .l-offer__box-tel
              a(href="tel:050-1741-6970") <span class="material-icons icon-phone">call</span>050-1741-6970
              small 【受付時間】9:00～18:00（年末年始を除く ）
          .l-offer__box
            +a("/contact/").c-button__contact <span class="icon-contact"></span>お問い合わせフォームはこちら

mixin l_offer-recruit
  .l-offer.is-padding-lg
    .l-container
      .l-offer__inner
        h2.c-heading.is-md.is-bottom エントリー
        .l-offer__text ●●では、働く環境を考え、一緒に課題に挑める仲間を募集しています。<br>私たちと一緒に働いてみませんか？
        .l-offer__items.is-button-one
          +a(href="/recruit/entry/").l-offer__button.is-bgcolor-primary エントリーはこちら
