/**
 ================================
 For editor role stylesheet
 ================================
**/

/*
.taxonomy-add-new {
	display: none !important;
}
*/

#yarpp_relatedposts {
	display: none;
}

#dashboard_php_nag {
	display:none;
}
