.c-box-service-feature {
  @include breakpoint(medium up){
    display: flex;
    flex-wrap: wrap;
  }
  &__box{
    background: $color-background;
    @include breakpoint(medium up){
      width: calc(356/1140 * 100%);
      padding: rem-calc(40) rem-calc(40) rem-calc(36);
      &:not(:nth-child(3n+1)){
        margin-left: calc(36/1140 * 100%);
      }
      &:nth-child(n+4){
        margin-top: rem-calc(36);
      }
    }
    @include breakpoint(small only){
      padding: rem-calc(32) rem-calc(32) rem-calc(28);
      &:not(:first-child){
        margin-top: rem-calc(32);
      }
    }
  }
  &__box-img{
    height: rem-calc(112);
    text-align: center;
    margin-bottom: rem-calc(24);
    img{
      max-height: 100%;
    }
    @include breakpoint(small only){
      height: rem-calc(80);
    }
  }
  &__box-text{

  }
}
