/*
---
name: ページネーション_通常
category: Navigation
---
*/
.c-pagination {
  margin-top: rem-calc(48);
  @include breakpoint(small only) {
    margin-top: rem-calc(32);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  ul li {
    list-style: none !important;
    margin-bottom: rem-calc(6);

    &:not(:last-child) {
      margin-right: rem-calc(6);
    }
    &:first-of-type{
      margin-right: rem-calc(70);
      @include breakpoint(small only) {
        margin-right: rem-calc(16);
      }
    }
    &:last-of-type{
      margin-right: 0;
      margin-left: rem-calc(70);
      @include breakpoint(small only) {
        margin-left: rem-calc(16);
      }
    }
  }

  ul li span,
  ul li a {
    @include webfont();
    @include font-format(18,0,22,400);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem-calc(48);
    height: rem-calc(48);
    text-decoration: none;
    border-radius: 0px;
    color: $color-black;
    border: 1px solid $border-base-color;
    background-color: $color-white;
    @include breakpoint(small only) {
      width: rem-calc(36);
      height: rem-calc(36);
      font-size: rem-calc(16);
    }

    &:hover {
      opacity: 1;
      background: $color-secondary;
      color: $color-white;
    }

    &.is-current {
      background: $color-secondary;
      border-color: $color-secondary;
      color: $color-white;
    }

    &.is-dot {
      font-family: $font-base-family;
      background: transparent;
      border-color: transparent;
      color: $color-secondary;
    }
  }

  // 左寄せ
  &.is-align-left {
    ul {
      justify-content: flex-start;
    }
  }
}
